<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShoppingList_v.2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EF36ECD1CDA7CEE007A7A23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EF36EE41CDA7CEF007A7A23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EF36EEF1CDA7CEF007A7A23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
